name: Build & Test

on:
  push:
    branches: [main]
  pull_request:
  merge_group:
    types: [checks_requested]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Git checkout
        uses: actions/checkout@v6

      - name: Setup build dependencies
        uses: ./.github/actions/setup-build-deps

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          cache-prefix: build-v0

      - name: Build
        run: make build

      - name: Test
        run: make test
